<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container-fluid">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
			<img src="/images/home/ldg-logo-gold.png" class="navbar-logo-l" alt="Lighthouse Development">
			<img src="/images/home/ldg-logo.png" class="navbar-logo-s" alt="Lighthouse Development">
		</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
				<li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/#about">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/#services">CUSTOM BUILD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/#portfolio">COMMERCIAL</a>
        </li>
        <li class="nav-item nav-item-hover-dropdown">
          <button class="nav-link nav-item-drop-button">SMARTHOME SYSTEM</button>
          <div class="nav-item-dropdown-content">
            <div class="nav-item-dropdown-content-transparent"></div>
            <div class="nav-item-dropdown-content-link">
              <a href="#">Adolfburgh</a>
              <a href="#">North Tomasa</a>
              <a href="#">East Earlene</a>
              <a href="#">West Bryanaborough</a>
              <a href="#">New Arden</a>
              <a href="#">New Elvie</a>
            </div>
          </div>
        </li>
				<li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/blog">BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/contact">CONTACT US</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<header class="masthead-subpage text-white d-flex" style="background-image: url('/images/blog/blog-header.png')">
  <div class="container masthead-container">
    <div class="row">
      <div class="col-lg-4 masthead-content">
        <h1 class="px-5 my-4">
          <strong>Blog</strong>
        </h1>
      </div>
      <div class="col-lg-8 masthead-content">
        <p class="px-5 py-2 mt-3">Est, ut dicis, inquit; Quae diligentissime contra Aristonem dicuntur a Chryippo. Ergo, inquit, tibi Q. Quod maxime efficit Theophrasti de beata vita liber, in quo multum admodum fortunae datur.</p>
      </div>
    </div>
  </div>
</header>

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">Blog</li>
	</ol>
</nav>

<section id="#blog" class="py-5">
	<div class="container blog-blogpage">
		<div class="row">
			<div class="col-lg-4 order-lg-2">

				<div class="blog-recent-posts mb-4">
					<h3>Recent Posts</h3>
					<div class="blog-recent-posts-link">
						<a href="#">6 Powerful Tips To Creating Testimonials</a>
						<a href="#">Effective Advertising Pointers</a>
						<a href="#">Advertise Advertise Advertise</a>
						<a href="#">Truck Side Advertising Isn T It Time</a>
						<a href="#">Direct Mail Advertising How I Made 47</a>
					</div>
				</div>

        <div class="blog-side-section">
          <h4>categories</h4>
          <div class="blog-categories-link">
            <a href="#">Beauty</a>
            <a href="#">Lifestyle</a>
            <a href="#">Music</a>
          </div>
        </div>

        <div class="blog-side-section">
          <h4>tags</h4>
          <div class="blog-side-tags">
            <a href="#" class="blog-item-tag">travel</a>
            <a href="#" class="blog-item-tag">life style</a>
            <a href="#" class="blog-item-tag">fashion</a>
            <a href="#" class="blog-item-tag">art</a>
            <a href="#" class="blog-item-tag">food</a>
            <a href="#" class="blog-item-tag">beauty</a>
            <a href="#" class="blog-item-tag">style</a>
          </div>
        </div>
			</div>


			<div class="col-lg-8 order-lg-1">
				<div class="blog-post-item">
					<div class="row">
						<div class="col-md-6">
							<img src="/images/blog/bl1.jpg" class="img-fluid blog-item-img" alt="">
						</div>
						<div class="col-md-6 blog-item-text">
							<a href="#" class="blog-item-tag mb-3">art</a>
							<h4 class="blog-item-title mt-2 mb-3">Why Did Reed Krakoff Walk Away from His Brand?</h4>
							<p class="blog-item-info my-3">CARRIE CRAWFORD | 2 MIN AGO</p>
							<p class="blog-item-content-brief my-3">When you browse through videos at YouTube, which do you usually click first: one with around 10 views or one with around 75,000 views?</p>
							<a href="#" class="btn btn-black btn-with-shadow btn-xl mt-3">discover</a>
						</div>
					</div>
				</div>

        <div class="blog-post-item">
					<div class="row">
						<div class="col-md-6">
							<img src="/images/blog/bl2.jpg" class="img-fluid blog-item-img" alt="">
						</div>
						<div class="col-md-6 blog-item-text">
							<a href="#" class="blog-item-tag mb-3">life style</a>
							<h4 class="blog-item-title mt-2 mb-3">Sir Patrick Stewart Answers the Proust Questionnaire</h4>
							<p class="blog-item-info my-3">CARLEY KEENER | 8 MINT AGO</p>
							<p class="blog-item-content-brief my-3">When vision becomes cloudy, normally due to age factor, you can suspect cataract. The primary effect of cataract is blurred vision. Then, what is cataract and how does it develop?</p>
							<a href="#" class="btn btn-black btn-with-shadow btn-xl mt-3">discover</a>
						</div>
					</div>
				</div>

        <div class="blog-post-item">
					<div class="row">
						<div class="col-md-6">
							<img src="/images/blog/bl3.jpg" class="img-fluid blog-item-img" alt="">
						</div>
						<div class="col-md-6 blog-item-text">
							<a href="#" class="blog-item-tag mb-3">neighbourhood</a>
							<h4 class="blog-item-title mt-2 mb-3">Why Did Reed Krakoff Walk Away from His Brand?</h4>
							<p class="blog-item-info my-3">AMELIA REYNOLDS | 2 DAY AGO</p>
							<p class="blog-item-content-brief my-3">It is often frustrating to attempt to plan meals that are designed for one. Despite this fact, we are seeing more and more recipe books and Internet websites.</p>
							<a href="#" class="btn btn-black btn-with-shadow btn-xl mt-3">discover</a>
						</div>
					</div>
				</div>

        <div class="blog-post-item">
					<div class="row">
						<div class="col-md-6">
							<img src="/images/blog/bl4.jpg" class="img-fluid blog-item-img" alt="">
						</div>
						<div class="col-md-6 blog-item-text">
							<a href="#" class="blog-item-tag mb-3">fashion</a>
							<h4 class="blog-item-title mt-2 mb-3">Why Did Reed Krakoff Walk Away from His Brand?</h4>
							<p class="blog-item-info my-3">LEWIS BENNETT | 3 DAY AGO</p>
							<p class="blog-item-content-brief my-3">Are you the parent of a teenager, namely a female teen? If you are, has your teen ever mentioned entering into a beauty pageant before?</p>
							<a href="#" class="btn btn-black btn-with-shadow btn-xl mt-3">discover</a>
						</div>
					</div>
				</div>

			</div>


		</div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <ul class="blog-pagination">
          <li>
            <a href="/blog"><span>1</span></a>
          </li>
          <li>
            <a href="/blog">2</a>
          </li>
        </ul>
      </div>
    </div>
	</div>
</section>
