<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container-fluid">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
			<img src="/images/home/ldg-logo-gold.png" class="navbar-logo-l" alt="Lighthouse Development">
			<img src="/images/home/ldg-logo.png" class="navbar-logo-s" alt="Lighthouse Development">
		</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
				<li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/#about">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/#services">CUSTOM BUILD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/#portfolio">COMMERCIAL</a>
        </li>
				<li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/">SMARTHOME SYSTEM</a>
        </li>
				<li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/blog">BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/contact">CONTACT US</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<header class="masthead-subpage text-white d-flex" style="background-image: url('/images/contact/contact-header.png')">
  <div class="container masthead-container">
    <div class="row">
      <div class="col-lg-5 masthead-content">
        <h1 class="px-5 my-4">
          <strong>Contact us</strong>
        </h1>
      </div>
      <div class="col-lg-7 masthead-content">
        <p class="px-5 py-2 mt-3">Est, ut dicis, inquit; Quae diligentissime contra Aristonem dicuntur a Chryippo. Ergo, inquit, tibi Q. Quod maxime efficit Theophrasti de beata vita liber, in quo multum admodum fortunae datur.</p>
      </div>
    </div>
  </div>
</header>


<section id="contact" class="bg-gray section-padding">
  <div class="container">
    <div class="row">
      <div class="offset-lg-2 col-lg-8 text-center">
        <p class="mb-4 main-content ct">Quodcumque in mentem incideret, et quodcumque tamquam occurreret. Frater et T.</p>
        <div class="mt-4 mb-5 play">
            Make an enquiry
		</div>
    </div>
        <div class = "offset-lg-3 col-lg-6">
            <form class ="form-1">
                <div class="form-group form-1">
                  <input type="name" class="form-control " id="InputName" placeholder="Full Name">
                </div>
                  <div class="form-group">
                    <input type="email" class="form-control" id="InputEmail" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <input type="phone" class="form-control" id="InputPhone" placeholder="Phone">
                  </div>
                  <div class="form-group">
                    <input type="postcode" class="form-control" id="Inputpostcode" placeholder="Postcode">
                  </div>
            </form>
        </div>
    </div>
  </div>
</section>

<section id="information" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 px-4">
          <h2 class="info-heading">Contact</h2>
          <p class="contact-info contact-info--special">9130 Leslie St, Suite 300
             <br>Richmond Hill, ON L4B 0B9</p>
      </div>
      <div class="col-lg-4 px-4">
          <h2 class="info-heading">Contact us</h2>
          <p class="contact-info">Tel: (+1) 905-771-7326
             <br>Richmond Hill, ON L4B 0B9</p>
        <a href="mailto:admin@lighthousedevelopment.com">admin@lighthousedevelopment.com</a>
      </div>
      <div class="col-lg-4 px-4">
          <h2 class="info-heading">Opening hours</h2>
          <p class="contact-info">Monday to Wednesday: 8:00AM – 5:30PM
             <br>Thursday to Friday: 8:00AM – 8:00PM
             <br>Saturday: 9:00AM – 5:00PM
             <br>Sunday: closed
         </p>

      </div>
    </div>
  </div>
</section>

<div>
  <div class = "container">
    <div class="row mb-5">
      <div class="col-6 col-md-4 col-lg-3">
        <button type="button" class="btn btn-red btn-with-shadow btn-xl" id="show-map-btn" name="button">SHOW MAP</button>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <button type="button" class="btn btn-black btn-with-shadow btn-xl" id="hide-map-btn" name="button">SHOW MAP</button>
      </div>
    </div>
    <div class="map">
        <div id="contact-map" style="width:100%;height:60vh;"></div>
        <!-- <script>
        function initMap() {
            var location = {lat:43.856400, lng:-79.386042};
            var options = {
                zoom:17,
                center: location
            };

            // New map
            var map = new google.maps.Map(document.getElementById('contact-map'),options);

            // Add marker.
            var marker = new google.maps.Marker({
                position: location,
                map:map
            });
        }
        </script> -->

    </div>
  </div>
</div>

<section id="ins" class="section-padding">
  <div class="container">
      <h1 class = "text-center mb-5">Instagram</h1>
    <div class = "row mt-3">
      <div class="col-lg-3">
          <img src="/images/home/b1.jpg" class="img-fluid p-1">
      </div>
      <div class="col-lg-3">
          <img src="/images/home/b2.jpg" class="img-fluid p-1">
      </div>
      <div class="col-lg-3">
          <img src="/images/home/b3.jpg" class="img-fluid p-1">
      </div>
      <div class="col-lg-3">
          <img src="/images/contact/b4.jpg" class="img-fluid p-1">
      </div>
  </div>

    </div>
  </div>
</section>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-35vM8NLSP_iMJuzyqb7fawpPzMe50Lw"
async defer></script>
<script src="/js/gmap.js" async defer></script>
