<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container-fluid">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
			<img src="/images/home/ldg-logo-gold.png" class="navbar-logo-l" alt="Lighthouse Development">
			<img src="/images/home/ldg-logo.png" class="navbar-logo-s" alt="Lighthouse Development">
		</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
				<li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#services">CUSTOM BUILD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#portfolio">COMMERCIAL</a>
        </li>
				<li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/">SMARTHOME SYSTEM</a>
        </li>
				<li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/blog">BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/contact">CONTACT US</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="masthead text-white d-flex">
  <div class="container masthead-container">
    <div class="row">
      <div class="col-lg-10 masthead-content">
        <h1>
          <strong>Lighthouse Development</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 masthead-content">
        <p class="mb-5">Sub Head. Eam tum adesse, cum dolor omnis absit; Sit hoc<br />ultimum bonorum, quod nunc a me defenditur</p>
        <a class="btn btn-header btn-red btn-l js-scroll-trigger" href="#about">Discover</a>
      </div>
    </div>
  </div>
</header>

<section class="section-padding" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
				<p class="text-uppercase" style="color: #EC1C24; font-family: overpass-bold; font-size: 16px; letter-spacing: 1px;">Why choose Lighthouse?</p>
        <h2 class="section-heading">LIGHTHOUSE causa non videtur fuisse mutandi nominis.</h2>
        <hr class="light my-4">
        <p class="mb-4 main-content">Hoc positum in Phaedro a Platone probavit Epicurus sensitque in omni disputatione id fieri oportere. A quibus propter discendi cupiditatem videmus ultimas terras esse peragratas. Heri, inquam, ludis commissis ex urbe profectus veni ad vesperum. Quod non faceret, si in voluptate summum bonum poneret.</p>
				<div class="row mt-2 mb-5">
          <div class="col-8 col-sm-5 col-lg-6 col-xl-5">
            <a class="btn btn-black btn-with-shadow btn-xl js-scroll-trigger my-2" href="#services">Discover</a>
          </div>
          <div class="col-8 col-sm-5 col-lg-6 col-xl-5">
            <a class="btn btn-gold btn-with-shadow btn-xl js-scroll-trigger my-2" href="#services">Discover</a>
          </div>
				</div>
      </div>
			<div class="col-lg-6 mx-auto">
				<img src="/images/home/why-2pics.png" class="img-fluid my-auto" alt="why choose Lighthouse">
			</div>
    </div>
  </div>
</section>

<section id="services" class="bg-gray section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-lg-2">
        <h2 class="section-heading section-heading--bigger">Custom build</h2>
        <p class="mb-4 main-content">Quis hoc dicit? Illi enim inter se dissentiunt. Si quae forte-possumus. Quid ait Aristoteles reliquique Platonis alumni? Audeo dicere, inquit. Omnia contraria, quos etiam insanos esse vultis.</p>
        <div class="row mt-4 mb-5">
          <div class="col-8 col-sm-5 col-lg-6 col-xl-5">
            <a class="btn btn-red btn-with-shadow btn-xl js-scroll-trigger my-2" href="#services">Discover</a>
          </div>
          <div class="col-8 col-sm-5 col-lg-6 col-xl-5">
            <a class="btn btn-black btn-with-shadow btn-xl js-scroll-trigger my-2" href="#services">Discover</a>
          </div>
				</div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <img src="/images/home/custom-build.png" class="img-fluid" alt="custom build">
      </div>
    </div>
  </div>
</section>

<section class="" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="section-heading section-heading--bigger">Commercial</h2>
        <p class="main-content mb-5">Hoc ipsum elegantius poni meliusque potuit. Quae sequuntur igitur? Praeteritis, inquit, gaudeo. Quis istud, quaeso, nesciebat? Aperiendum est igitur, quid sit voluptas;</p>
        <a class="btn btn-black btn-with-shadow btn-xl js-scroll-trigger my-2" href="#services">Discover</a>
      </div>
    </div>
  </div>
  <div class="container my-5">
    <div class="row no-gutters">
      <div class="col-md-6 col-lg-4">
        <a class="portfolio-box" href="#portfolio">
          <img src="/images/home/c1.jpg" class="img-fluid p-1" alt="Commercial">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <!-- <div class="project-category text-faded">
                Category
              </div> -->
              <div class="project-name">
                JUANACHESTER
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a class="portfolio-box" href="#portfolio">
          <img src="/images/home/c2.jpeg" class="img-fluid p-1" alt="Commercial">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                JUANACHESTER
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a class="portfolio-box" href="#portfolio">
          <img src="/images/home/c3.jpeg" class="img-fluid p-1" alt="Commercial">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                JUANACHESTER
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a class="portfolio-box" href="#portfolio">
          <img src="/images/home/c4.jpeg" class="img-fluid p-1" alt="Commercial">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                JUANACHESTER
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a class="portfolio-box" href="#portfolio">
          <img src="/images/home/c5.jpeg" class="img-fluid p-1" alt="Commercial">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                JUANACHESTER
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a class="portfolio-box" href="#portfolio">
          <img src="/images/home/c6.jpg" class="img-fluid p-1" alt="Commercial">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                JUANACHESTER
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-lg-2">
        <h2 class="section-heading section-heading--bigger">Smarthome system</h2>
        <p class="mb-4 main-content">Tuo vero id quidem, inquam, arbitratu. Scaevolam M. Quibus ego vehementer assentior. Compensabatur, inquit, cum summis doloribus laetitia. Magna laus. Immo alio genere;</p>
        <div class="row mt-4 mb-5">
          <div class="col-8 col-sm-5 col-lg-6 col-xl-5">
            <a class="btn btn-red btn-with-shadow btn-xl js-scroll-trigger my-2" href="#services">Discover</a>
          </div>
				</div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <img src="/images/home/smartphone.png" class="img-fluid" alt="custom build">
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="my-4">
        <p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center">
        <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
        <p>123-456-6789</p>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
        <p>
          <a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a>
        </p>
      </div>
    </div>
  </div>
</section>
