/*------------------------------------*\
	Blog post
\*------------------------------------*/

#main .blog .blog-content {
  padding: 20px 0px 0px;
}

#main .blog {
  margin-top: 0px;
}

.blog-content {
  img {
    height: auto;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  ul {
    list-style-type: disc;
  }
  li {
    margin-left: 2rem;
  }
}

/* -- blog tags -- */

.blog-tags {
    margin: 40px 0px;
}

.blog-tags h5 {
    margin-bottom: 0;
    display: inline-block;
}

.blog-tags a {
    display: inline-block;
    padding: 6px 13px;
    font-size: 14px;
    margin: 2px 0px;
    background: $gray-100;
    color: $header;
}

.blog-tags a:hover {
  color: #FFF;
  background-color: $primary;
}

.blog-tags a i {
    margin-right: 3px;
    color: $primary;
}

.blog-tags a:hover i {
  color: #FFF;
}


/* -- blog author -- */

.blog-author {
    margin: 40px 0px;
}

.blog-author .media .media-left {
    padding-right: 20px;
}

.blog-author .media {
    padding: 20px;
    border: 1px solid $gray-300;
}

.blog-author .media .media-heading {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $gray-300;
}

.blog-author .media .media-heading h3 {
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
}

.blog-author .media .media-heading .author-social {
  float: right;
}

.blog-author .author-social a {
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 3px;
    margin-left: 5px;
    color: #FFF;
    background-color: $primary;
}

/* -- blog comments -- */

.blog-comments {
    margin: 40px 0px;
}

.blog-comments .media {
    padding: 20px;
    background-color: #FFF;
    border-top: 1px solid $gray-300;
    border-bottom: 0px;
    border-right: 1px solid $gray-300;
    border-left: 1px solid $gray-300;
    margin-top: 0px;
}

.blog-comments .media:first-child {
    border-bottom: 0px;
}

.blog-comments .media:last-child {
    border-bottom: 1px solid $gray-300;
}

.blog-comments .media .media-left {
  padding-right: 20px;
}

.blog-comments .media .media-body .media-heading {
    text-transform: uppercase;
    margin-bottom:10px;
}

.blog-comments .media .media-body .media-heading .time {
    font-size: 12px;
    margin-left: 20px;
    font-weight: 400;
    color: $body;
}

.blog-comments .media .media-body .media-heading .reply {
    float: right;
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
}

.blog-comments .media.author {
    background-color: $gray-100;
    border-color: $primary;
    border-bottom: 1px solid $primary;
}
.blog-comments .media.author>.media-body>.media-heading {
    color: $primary;
}

.blog-comments .media.author + .media {
    border-top: 0px;
}

/* blog reply form */

.reply-form {
    margin: 40px 0px;
}

.reply-form form .input, .reply-form form .input , .reply-form form textarea {
	margin-bottom:20px;
}

.reply-form form .input, .reply-form form .input {
    width: calc(50% - 10px);
    display: inline-block;
}

.reply-form form .input:nth-child(2) {
    margin-left: 15px;
}

.post {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 3rem;
}



@media only screen and (min-width: 768px) {
  .post-img-container {
    margin-top: -36px;
  }
}

.blog-content {
  color: black;
}
