/*------------------------------------*\
	Blog sidebar
\*------------------------------------*/

#aside .widget {
    margin-bottom: 40px;
}

.widget h3 {
  text-transform: uppercase;
}

/* -- search sidebar -- */

#aside .widget-search {
    position: relative;
}

#aside .widget-search .search-input {
    padding-right: 50px;
}

#aside .widget-search .search-btn {
    position: absolute;
    right: 0px;
	  bottom: 0px;
    width: 40px;
    height: 40px;
    border: none;
    line-height: 40px;
    background-color: transparent;
    color: $primary;
}

/* -- category sidebar -- */

.widget-category a {
    display: block;
    font-size: 14px;
    color: #354052;
    border-bottom: 1px solid $gray-300;
    padding: 5px;
}

.widget-category a:nth-child(1) {
  border-top: 1px solid $gray-300;
}

.widget-category a span {
    float: right;
    color: $primary;
}

.widget-category a:hover {
    color: $primary;
}

/* -- tags sidebar -- */

.widget-tags a {
  display: inline-block;
  padding: 6px 13px;
  font-size: 14px;
  margin: 2px 0px;
  background: $gray-100;
  color: $header;
}

.widget-tags a:hover {
  color: #FFF;
  background-color: $primary;
}

/* -- posts sidebar -- */

.widget-post {
    min-height: 70px;
    margin-bottom: 25px;
}

.widget-post img {
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

.widget-post a {
    display: block;
    color: $header;
}

.widget-post a:hover {
    color: $primary;
}

.widget-post .blog-meta {
    display: inline-block;
}

.widget-post .blog-meta li {
    display: inline-block;
    margin-right: 5px;
    color: $primary;
    font-size: 12px;
}

.widget-post li i {
    color: $primary;
    margin-right: 5px;
}
