/*------------------------------------*\
	Contact
\*------------------------------------*/

.contact {
    margin: 15px 0px;
    text-align: center;
}

.contact i {
    font-size: 36px;
    color: $primary;
    margin-bottom: 20px;
}

.contact-form {
    margin-top: 30px;
}

.contact-form .input {
  background-color: white;
    border-radius: 5px;
    margin-bottom: 5px;
}


.first-line {
    width: calc(50% - 10px);
    display: inline-block;
}

.first-line-right {
    margin-left: 15px;
}

.form-group {
  margin-bottom: 5px;
}
