.ct{
	font-family:overpass-semibold;
    font-size: 20px;
    line-height: 30px;
}

.play {
    font-family:PlayfairDisplay-Bold;
    font-size: 30px;
}

.info-heading {
	font-family: playfair-bold;
	font-size: 30px;
}


.contact-info {
	font-family: overpass-regular;
	font-size: 15px;
	line-height: 32px;
}
