footer {
  padding-top: 4rem;
  h4 {
    font-family: overpass-extrabold;
    font-size: 13px;
  }
  p {
    font-family: overpass-light;
    font-size: 13px;
    line-height: 25px;
  }
  i {
    font-size: 2rem !important;
    &:hover {
      color: $white;
    }
  }
  .footer-logo {
    max-width: 300px;
    margin: 1rem auto;
    @media (min-width: 768px) {
      max-width: 100%;
    }
  }
  .footer-copyright {
    padding: 1rem;
    letter-spacing: 1px;
    text-align: center;
    color: $white;
    background-color: $red;
  }
  .footer-newsletter {
    width: 98%;
    height: 40px;
    color: $white;
    font-family: overpass-extrabold;
    caret-color: $white;
    background-color: $black;
    border: none;
    border-bottom: 1px solid $white;
    &:focus {
      outline: none;
    }
    &::-webkit-input-placeholder {
      color: $white;
      font-family: overpass-extrabold;
    }
    &:-ms-input-placeholder {
      color: $white;
      font-family: overpass-extrabold;
    }
    &:-moz-placeholder {
      color: $white;
      font-family: overpass-extrabold;
    }
    &::-moz-placeholder {
      color: $white;
      font-family: overpass-extrabold;
    }
  }
  .footer-btn {
    border: 2px solid $white;
    color: $white;
    background-color: $black;
    letter-spacing: 1px;
    font-family: overpass-extrabold;
    padding: 0.8rem;
    white-space: nowrap;
    &:hover {
      text-decoration: none;
      color: $gold;
      background-color: $white;
    }
  }
}
