/*------------------------------------*\
	Footer
\*------------------------------------*/

#footer {
    position: relative;
    padding: 30px 0;
    img {
      padding: 2rem;
    }
    .footer-wechat {
      height: 140px;
      width: 140px;
      @media (min-width: 375px) {
        height: 180px;
        width: 180px;
      }
    }
}

.footer-logo>a>img {
    max-height: 80px;
}

.footer-follow {
    text-align: center;
    margin-bottom: 20px;
}

.footer-follow li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 13px;
}

.footer-follow li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
  background-color: $primary;
  color:#FFF;
}

.footer-copyright p {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
}

.footer-infomation {
  padding-top: 4rem;
  padding-bottom: 3rem;
  @media (min-width: 768px) {
    margin-bottom: 3.2rem;
  }
}
