/*------------------------------------*\
	General
\*------------------------------------*/


/* -- typography -- */

body {
    font-family: Nunito-Light, YuanTi;
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
    color: $body;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Nunito-Light, YuanTi;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
    color: $header;
}

h1 {
    font-size: 54px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

a {
    color: $primary;
    text-decoration: none;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

a:hover, a:focus {
    text-decoration: none;
    outline: none;
    opacity: 0.8;
    color: $primary;
}

.main-color {
    color: $primary;
}

.white-text {
    color: #FFF;
}

.grey-text {
  color: #868F9B;
}

.black-text {
  color: black;
}

::-moz-selection {
    background-color: $primary;
    color: #FFF;
}

::selection {
    background-color: $primary;
    color: #FFF;
}

ul, ol {
    margin: 0;
    padding: 0;
    li {
      margin-left: 1.5rem;
    }
}

/* -- section  -- */

.section {
    position: relative;
}

.md-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

.sm-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}


/* --  background section  -- */

.bg-grey {
    background-color: $gray-200;
    border-top: 1px solid $gray-300;
    border-bottom: 1px solid $gray-300;
}

.bg-dark {
    background-color: #1C1D21;
}

.bg-main {
  background-color: $primary;
}


/* --  background image section  -- */

.bg-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
    @media (min-width: 768px) {
      background-attachment: fixed;
    }
}

.bg-img .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    background: #1C1D21;
}


/* --  section header  -- */

.section-header {
    position: relative;
    margin-bottom: 60px;
}

.section-header .title {
    text-transform: capitalize;
}

// .title:after {
//     content:"";
//   	display:block;
//   	height:4px;
//   	width:40px;
//   	background-color: $primary;
//     margin-top: 20px;
// }

.text-center .title:after {
    margin: 20px auto 0px;
}

.title {
  br {
    margin-top: 1rem;
  }
}

/* --  Input  -- */

input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="date"], input[type="url"], input[type="tel"], textarea {
    height: 40px;
    width: 100%;
    border: none;
	  background-color: white;
    border: 1px solid #ccc;
    color: #354052;
    padding: 0px 10px;
    opacity: 0.5;
    -webkit-transition: 0.2s border-color, 0.2s opacity;
    transition: 0.2s border-color, 0.2s opacity;
}

textarea {
    padding: 10px 10px;
    min-height: 80px;
    resize: vertical;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="date"]:focus, input[type="url"]:focus, input[type="tel"]:focus, textarea:focus {
    border-color: $primary;
    opacity: 1;
}


/* --  Buttons  -- */

.main-btn, .white-btn, .outline-btn {
    display: inline-block;
    padding: 10px 35px;
    margin: 3px;
    border: 2px solid transparent;
    border-radius: 3px;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

.main-btn {
    background: $primary;
    color: #FFF !important;
}

.white-btn {
    background: #FFF;
    color: $header !important;
}

.outline-btn {
    background: transparent;
    color: $primary !important;
    border-color: $primary;
}

.main-btn:hover, .white-btn:hover, .outline-btn:hover {
    opacity: 0.8;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: $primary;
  border-color: $primary;
}
