/*------------------------------------*\
	Logo
\*------------------------------------*/

.navbar-brand {
    padding: 0;
    margin: 1rem;
}

.navbar-brand .logo, .navbar-brand .logo-alt {
    max-height: 60px;
    max-width: 240px;
    margin-top: 0.5rem;
    display: block;
    @media (min-width: 992px) {
      margin-top: -0.5rem;
      max-width: 400px;
    }
}

#nav:not(.nav-transparent):not(.fixed-nav) .navbar-brand .logo-alt {
	display: none;
}

#nav.nav-transparent:not(.fixed-nav) .navbar-brand .logo {
	display: none;
}

#nav.fixed-nav .navbar-brand .logo-alt {
    display: none;
}

@media only screen and (max-width: 767px) {
    #nav.nav-transparent .navbar-brand .logo-alt {
        display: none !important;
    }
    #nav.nav-transparent .navbar-brand .logo {
        display: block !important;
    }
}
