// Styling for the navbar
#mainNav {
  border-bottom: 1px solid fade-out($gray-900, .9);
  background-color: $white;
  font-family: overpass-bold;
  font-size: 13px;
  @include transition-all;
  .navbar-brand {
    img {
      max-height: 3.6rem;
    }
    .navbar-logo-l {
      display: none;
    }
    .navbar-logo-s {
      display: inline-block;
    }
  }
  .navbar-nav {
    > li.nav-item {
       > a.nav-link, > button.nav-link,
      > a.nav-link:focus, > button.nav-link:focus {
        font-size: .9rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $gray-900;
        &:hover {
          color: $primary;
        }
        &.active {
          color: $primary !important;
          background-color: transparent;
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
  @media (min-width: 992px) {
    border-color: transparent;
    background-color: rgba(35, 35, 35, 0.7);
    .navbar-brand {
      img {
        max-height: 5rem;
      }
      .navbar-logo-l {
        display: inline-block;
      }
      .navbar-logo-s {
        display: none;
      }
    }
    .navbar-nav > li.nav-item > a.nav-link, .navbar-nav > li.nav-item > button.nav-link {
      font-size: 12px;
      padding: 0.3rem 0.8rem;
    }
    .navbar-nav > li.nav-item > a.nav-link, .navbar-nav > li.nav-item > button.nav-link,
    .navbar-nav > li.nav-item > a.nav-link:focus, .navbar-nav > li.nav-item > button.nav-link:focus {
      color: $white;
      &:hover {
        color: $gold;
      }
    }
    &.navbar-shrink {
      border-bottom: 1px solid fade-out($gray-900, .9);
      background-color: rgba(35, 35, 35, 0.7);
      .navbar-brand {
        color: $primary;
        &:focus,
        &:hover {
          color: darken($primary, .1);
        }
      }
      .navbar-nav > li.nav-item > a.nav-link, .navbar-nav > li.nav-item > button.nav-link,
      .navbar-nav > li.nav-item > a.nav-link:focus, .navbar-nav > li.nav-item > button.nav-link:focus {
        color: $white;
        &:hover {
          color: $gold;
        }
      }
    }
  }
  @media (min-width: 1200px) {
    .navbar-brand {
      img {
        max-height: 5.4rem;
      }
    }
    .navbar-nav > li.nav-item > a.nav-link, .navbar-nav > li.nav-item > button.nav-link {
      font-size: 13px;
      padding: 0.5rem 1rem;
    }
  }
}

.nav-item-hover-dropdown {
  position: relative;
  display: inline-block;
  .nav-item-drop-button {
    background-color: transparent;
    border: none;
  }
  .nav-item-dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    .nav-item-dropdown-content-link {
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      a {
        background-color: $white;
        font-family: overpass-regular;
        font-size: 12px;
        color: $black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        &:hover {
          background-color: $gold;
        }
      }
    }
  }
  &:hover {
    .nav-item-dropdown-content {
      display: block;
    }
    .nav-item-drop-button {
      border-bottom: 4px solid $gold;
    }
  }
  @media (min-width: 992px) {
    .nav-item-dropdown-content {

      .nav-item-dropdown-content-transparent {
        height: 37px;
        width: 100%;
        background-color: transparent;
      }
      .nav-item-dropdown-content-link {
        a {
          background-color: rgba(35, 35, 35, 0.7);
          font-family: overpass-regular;
          font-size: 12px;
          color: $white;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          &:hover {
            background-color: $gold;
          }
        }
      }
    }
  }
}
