/*------------------------------------*\
	Numbers
\*------------------------------------*/

.number {
    text-align: center;
    margin: 15px 0px;
    img {
      padding: 3rem;
      height: auto;
      width: 100%;
      @media (min-width: 500px) {
        padding: 7rem;
      }
      @media (min-width: 768px) {
        padding: 3rem;
      }
    }
    span {
      font-size: 2rem;
    }
}

.number i {
    color: $primary;
    font-size: 36px;
    margin-bottom: 20px;
    display: block;
}

.number h3 {
    font-size: 36px;
    margin-bottom: 10px;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
