// Override Bootstrap variables in this file, e.g.

$font-size-base: 14px;
$body: #868F9B;
$header: #10161A;
$primary: #FBB561;
$dark: #FCFCFF;
$gray-100: #F4F4F4;
$gray-200: #FAFAFA;
$gray-300: #EEE;
