/*------------------------------------*\
	Why choose us
\*------------------------------------*/

.features-section {
   background-image: url("../images/background.png");
   .title {
     color: $primary;
     margin-top: 4rem;
     @media (min-width: 1200px) {
       margin-top: 10rem;
     }
   }
   .feature-infomation {
     color: white;
     font-size: 18px;
   }
}

.feature {
    margin: 15px 0px;
}
.feature i {
    float: left;
    padding: 5px;
    border-radius: 50%;
    color: $primary;
    border: 1px solid $primary;
    margin-right: 5px;
    margin-bottom: 50px;
    @media (min-width: 440px) {
      margin-bottom: 30px;
    }
}

.feature-image {
  margin-top: 4rem;
  @media (min-width: 992px) {
    margin-top: 15rem;
  }
  @media (min-width: 1200px) {
    margin-top: 10rem;
  }
}

.feature-link {
  text-decoration: underline;
}
